@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

.projects img {
  width: 100%;
}
/*color*/

.bg-primary {
  background: #0f172a;
}
.bg-secondery {
  background: #1e293b;
}

.bg-accent {
  background: #7477ff;
}
.text-accent {
  color: #7477ff;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477ff;
}

.mobile-nav {
  @apply fixed block w-full h-full py-2 duration-500 bg-gray-900 md:hidden top-10;
}

/*  hero */

h1 {
  font-family: "Paciifico", cursive;
  line-height: 1.5 !important;
}
